<td><%= start_at %></td>
<td><%= end_at %></td>
<td><%= name %></td>
<td><%= camp_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>