%div{:style => "overflow:hidden;"}
  .logbox.aboutCamp
    %h2 Change Password
  = semantic_form_for(resource, :as => resource_name, :url => "/users/changepassword", :remote => true) do |f|
    .twelve
      -if !@user.errors.blank?
        #error_explanation{:style => "margin:0 0 15px 50px;"}
          - @user.errors.full_messages.each do |msg|
            %span.help-inline= msg
            %br
      = f.semantic_errors
      = f.inputs do
        .row.form1
          .three.columns{:style => "text-align:right"}
            %h5= f.label :current_password
          .columns
            =f.password_field :current_password
          .form_field_help.columns
            %p Enter current password (we need your<br/>current password to confirm your changes)
        .row.form1
          .three.columns{:style => "text-align:right"}
            %h5= f.label :password
          .columns
            =f.password_field :password
          .form_field_help.columns
            %p Enter new password
        .row.form1
          .three.columns{:style => "text-align:right"}
            %h5= f.label :password_confirmation
          .columns
            =f.password_field :password_confirmation
          .form_field_help.columns
            %p Confirm new password
        = f.submit "", :id => :confirmpopup