.container.userEdit
  .formUserEdit
    .formUser
      .row.aboutCamp
        = image_tag('template/aboutCamp.png', :alt => "About KidNimble", :title => "About KidNimble")
        .twelve
          %p
            As parents, we love to watch our kids try something new and succeed, or sometimes even better, fail at first, but persevere and overcome their initial trials.  We get a great amount of satisfaction out of seeing them develop not only the skills specific to the chosen activity but also building the character that will serve them well throughout life.
            %br/
            %br/
            As a result, we spend A LOT of time searching for enrichment activities beyond the school day -- from summer camps and holiday break programs to afterschool or weekend clinics or "drop-in" camps and sometimes private instructors or coaches.
            %br/
            %br/
            And frankly, they are not always easy to find.
          %h2 Why is finding the right kid's programs so hard?
          %p
            We wondered why there wasn't one convenient place to locate all the programs in our area, get guidance on which of them might be the best fit for our children and sign up without having to contact each of them separately.
            %br/
            %br/
            We didn't see anyone solving this problem for us, so we built our own solution.
            %br/
            %br/
            Our goal here at KidNimble is to be a central resource to enable parents like us to find the best programs for their kids and sign-up for all of them in a single registration.
            %br/
            %br/
            If you are here at KidNimble, you probably share some of our sentiments about children and likely some of our desire for a better solution.
            %br/
            %br/
            We hope you find this site a useful tool.  Take a look at
            %a{:href => "#"} HOW IT WORKS
            %br/
            And please
            %a{:href => "#"} CONTACT US
            if there is anything you would like to see or think we could be doing better,
            %br/
            %br/
            Sincerely,
            %br/
            KidNimble.
            
  .manageUserCont
    .manageUser.AboutBanner
      .sideAbout
        %h4
          Interested in KidNimble
          %br/
          Services for camps?
        %a{:href => "#"}
          = image_tag('template/learnMore.png', :alt => "Learn More", :title => "Learn More", :class => "learnMore")
      .sideAbout
        %h4
          Want to know more about
          %br/
          how parents use us?
        %a{:href => "#"}
          = image_tag('template/howitwork.png', :alt => "Learn More", :title => "Learn More", :class => "learnMore")
      = image_tag('findCamp.png', :alt => "Find Camp", :title => "Find Camp", :class => 'find')
      = image_tag('sideImg.png', :alt => "Find Camp", :title => "Find Camp")