<h1>Listing directorforms</h1>

<table>
  <tr>
    <th>Session title</th>
    <th>Session title2</th>
    <th>Session title3</th>
    <th>Session title4</th>
    <th>Session title5</th>
    <th>Session title6</th>
    <th>Subcategory</th>
    <th>Subcategory2</th>
    <th>Subcategory3</th>
    <th>Subcategory4</th>
    <th>Subcategory5</th>
    <th>Subcategory6</th>
    <th>Residency</th>
    <th>Residency2</th>
    <th>Residency3</th>
    <th>Residency4</th>
    <th>Residency5</th>
    <th>Residency6</th>
    <th>Date start</th>
    <th>Date start2</th>
    <th>Date start3</th>
    <th>Date start4</th>
    <th>Date start5</th>
    <th>Date start6</th>
    <th>Date end</th>
    <th>Date end2</th>
    <th>Date end3</th>
    <th>Date end4</th>
    <th>Date end5</th>
    <th>Date end6</th>
    <th>Time start</th>
    <th>Time start2</th>
    <th>Time start3</th>
    <th>Time start4</th>
    <th>Time start5</th>
    <th>Time start6</th>
    <th>Time end</th>
    <th>Time end2</th>
    <th>Time end3</th>
    <th>Time end4</th>
    <th>Time end5</th>
    <th>Time end6</th>
    <th>Youngest</th>
    <th>Youngest2</th>
    <th>Youngest3</th>
    <th>Youngest4</th>
    <th>Youngest5</th>
    <th>Youngest6</th>
    <th>Oldest</th>
    <th>Oldest2</th>
    <th>Oldest3</th>
    <th>Oldest4</th>
    <th>Oldest5</th>
    <th>Oldest6</th>
    <th>Location address</th>
    <th>Location address2</th>
    <th>Location address3</th>
    <th>Location address4</th>
    <th>Location address5</th>
    <th>Location address6</th>
    <th>Session description</th>
    <th>Session description2</th>
    <th>Session description3</th>
    <th>Session description4</th>
    <th>Session description5</th>
    <th>Session description6</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @directorforms.each do |directorform| %>
  <tr>
    <td><%= directorform.session_title %></td>
    <td><%= directorform.session_title2 %></td>
    <td><%= directorform.session_title3 %></td>
    <td><%= directorform.session_title4 %></td>
    <td><%= directorform.session_title5 %></td>
    <td><%= directorform.session_title6 %></td>
    <td><%= directorform.subcategory %></td>
    <td><%= directorform.subcategory2 %></td>
    <td><%= directorform.subcategory3 %></td>
    <td><%= directorform.subcategory4 %></td>
    <td><%= directorform.subcategory5 %></td>
    <td><%= directorform.subcategory6 %></td>
    <td><%= directorform.residency %></td>
    <td><%= directorform.residency2 %></td>
    <td><%= directorform.residency3 %></td>
    <td><%= directorform.residency4 %></td>
    <td><%= directorform.residency5 %></td>
    <td><%= directorform.residency6 %></td>
    <td><%= directorform.date_start %></td>
    <td><%= directorform.date_start2 %></td>
    <td><%= directorform.date_start3 %></td>
    <td><%= directorform.date_start4 %></td>
    <td><%= directorform.date_start5 %></td>
    <td><%= directorform.date_start6 %></td>
    <td><%= directorform.date_end %></td>
    <td><%= directorform.date_end2 %></td>
    <td><%= directorform.date_end3 %></td>
    <td><%= directorform.date_end4 %></td>
    <td><%= directorform.date_end5 %></td>
    <td><%= directorform.date_end6 %></td>
    <td><%= directorform.time_start %></td>
    <td><%= directorform.time_start2 %></td>
    <td><%= directorform.time_start3 %></td>
    <td><%= directorform.time_start4 %></td>
    <td><%= directorform.time_start5 %></td>
    <td><%= directorform.time_start6 %></td>
    <td><%= directorform.time_end %></td>
    <td><%= directorform.time_end2 %></td>
    <td><%= directorform.time_end3 %></td>
    <td><%= directorform.time_end4 %></td>
    <td><%= directorform.time_end5 %></td>
    <td><%= directorform.time_end6 %></td>
    <td><%= directorform.youngest %></td>
    <td><%= directorform.youngest2 %></td>
    <td><%= directorform.youngest3 %></td>
    <td><%= directorform.youngest4 %></td>
    <td><%= directorform.youngest5 %></td>
    <td><%= directorform.youngest6 %></td>
    <td><%= directorform.oldest %></td>
    <td><%= directorform.oldest2 %></td>
    <td><%= directorform.oldest3 %></td>
    <td><%= directorform.oldest4 %></td>
    <td><%= directorform.oldest5 %></td>
    <td><%= directorform.oldest6 %></td>
    <td><%= directorform.location_address %></td>
    <td><%= directorform.location_address2 %></td>
    <td><%= directorform.location_address3 %></td>
    <td><%= directorform.location_address4 %></td>
    <td><%= directorform.location_address5 %></td>
    <td><%= directorform.location_address6 %></td>
    <td><%= directorform.session_description %></td>
    <td><%= directorform.session_description2 %></td>
    <td><%= directorform.session_description3 %></td>
    <td><%= directorform.session_description4 %></td>
    <td><%= directorform.session_description5 %></td>
    <td><%= directorform.session_description6 %></td>
    <td><%= link_to 'Show', directorform %></td>
    <td><%= link_to 'Edit', edit_directorform_path(directorform) %></td>
    <td><%= link_to 'Destroy', directorform, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Directorform', new_directorform_path %>
