<%= stylesheet_link_tag "directorform" %>

<meta http-equiv="refresh" content="3; url=http://kidnimble.com"> 
<div align = center>
  <br>
<br>
<br>
<br>
<p id="notice"><%= notice %></p>


<p>
  <b>Session title:</b>
  <%= @directorform.session_title %>
</p>

<p>
  <b>Session title2:</b>
  <%= @directorform.session_title2 %>
</p>

<p>
  <b>Session title3:</b>
  <%= @directorform.session_title3 %>
</p>

<p>
  <b>Session title4:</b>
  <%= @directorform.session_title4 %>
</p>

<p>
  <b>Session title5:</b>
  <%= @directorform.session_title5 %>
</p>

<p>
  <b>Session title6:</b>
  <%= @directorform.session_title6 %>
</p>

<p>
  <b>Subcategory:</b>
  <%= @directorform.subcategory %>
</p>

<p>
  <b>Subcategory2:</b>
  <%= @directorform.subcategory2 %>
</p>

<p>
  <b>Subcategory3:</b>
  <%= @directorform.subcategory3 %>
</p>

<p>
  <b>Subcategory4:</b>
  <%= @directorform.subcategory4 %>
</p>

<p>
  <b>Subcategory5:</b>
  <%= @directorform.subcategory5 %>
</p>

<p>
  <b>Subcategory6:</b>
  <%= @directorform.subcategory6 %>
</p>

<p>
  <b>Residency:</b>
  <%= @directorform.residency %>
</p>

<p>
  <b>Residency2:</b>
  <%= @directorform.residency2 %>
</p>

<p>
  <b>Residency3:</b>
  <%= @directorform.residency3 %>
</p>

<p>
  <b>Residency4:</b>
  <%= @directorform.residency4 %>
</p>

<p>
  <b>Residency5:</b>
  <%= @directorform.residency5 %>
</p>

<p>
  <b>Residency6:</b>
  <%= @directorform.residency6 %>
</p>

<p>
  <b>Date start:</b>
  <%= @directorform.date_start %>
</p>

<p>
  <b>Date start2:</b>
  <%= @directorform.date_start2 %>
</p>

<p>
  <b>Date start3:</b>
  <%= @directorform.date_start3 %>
</p>

<p>
  <b>Date start4:</b>
  <%= @directorform.date_start4 %>
</p>

<p>
  <b>Date start5:</b>
  <%= @directorform.date_start5 %>
</p>

<p>
  <b>Date start6:</b>
  <%= @directorform.date_start6 %>
</p>

<p>
  <b>Date end:</b>
  <%= @directorform.date_end %>
</p>

<p>
  <b>Date end2:</b>
  <%= @directorform.date_end2 %>
</p>

<p>
  <b>Date end3:</b>
  <%= @directorform.date_end3 %>
</p>

<p>
  <b>Date end4:</b>
  <%= @directorform.date_end4 %>
</p>

<p>
  <b>Date end5:</b>
  <%= @directorform.date_end5 %>
</p>

<p>
  <b>Date end6:</b>
  <%= @directorform.date_end6 %>
</p>

<p>
  <b>Time start:</b>
  <%= @directorform.time_start %>
</p>

<p>
  <b>Time start2:</b>
  <%= @directorform.time_start2 %>
</p>

<p>
  <b>Time start3:</b>
  <%= @directorform.time_start3 %>
</p>

<p>
  <b>Time start4:</b>
  <%= @directorform.time_start4 %>
</p>

<p>
  <b>Time start5:</b>
  <%= @directorform.time_start5 %>
</p>

<p>
  <b>Time start6:</b>
  <%= @directorform.time_start6 %>
</p>

<p>
  <b>Time end:</b>
  <%= @directorform.time_end %>
</p>

<p>
  <b>Time end2:</b>
  <%= @directorform.time_end2 %>
</p>

<p>
  <b>Time end3:</b>
  <%= @directorform.time_end3 %>
</p>

<p>
  <b>Time end4:</b>
  <%= @directorform.time_end4 %>
</p>

<p>
  <b>Time end5:</b>
  <%= @directorform.time_end5 %>
</p>

<p>
  <b>Time end6:</b>
  <%= @directorform.time_end6 %>
</p>

<p>
  <b>Youngest:</b>
  <%= @directorform.youngest %>
</p>

<p>
  <b>Youngest2:</b>
  <%= @directorform.youngest2 %>
</p>

<p>
  <b>Youngest3:</b>
  <%= @directorform.youngest3 %>
</p>

<p>
  <b>Youngest4:</b>
  <%= @directorform.youngest4 %>
</p>

<p>
  <b>Youngest5:</b>
  <%= @directorform.youngest5 %>
</p>

<p>
  <b>Youngest6:</b>
  <%= @directorform.youngest6 %>
</p>

<p>
  <b>Oldest:</b>
  <%= @directorform.oldest %>
</p>

<p>
  <b>Oldest2:</b>
  <%= @directorform.oldest2 %>
</p>

<p>
  <b>Oldest3:</b>
  <%= @directorform.oldest3 %>
</p>

<p>
  <b>Oldest4:</b>
  <%= @directorform.oldest4 %>
</p>

<p>
  <b>Oldest5:</b>
  <%= @directorform.oldest5 %>
</p>

<p>
  <b>Oldest6:</b>
  <%= @directorform.oldest6 %>
</p>

<p>
  <b>Location address:</b>
  <%= @directorform.location_address %>
</p>

<p>
  <b>Location address2:</b>
  <%= @directorform.location_address2 %>
</p>

<p>
  <b>Location address3:</b>
  <%= @directorform.location_address3 %>
</p>

<p>
  <b>Location address4:</b>
  <%= @directorform.location_address4 %>
</p>

<p>
  <b>Location address5:</b>
  <%= @directorform.location_address5 %>
</p>

<p>
  <b>Location address6:</b>
  <%= @directorform.location_address6 %>
</p>

<p>
  <b>Session description:</b>
  <%= @directorform.session_description %>
</p>

<p>
  <b>Session description2:</b>
  <%= @directorform.session_description2 %>
</p>

<p>
  <b>Session description3:</b>
  <%= @directorform.session_description3 %>
</p>

<p>
  <b>Session description4:</b>
  <%= @directorform.session_description4 %>
</p>

<p>
  <b>Session description5:</b>
  <%= @directorform.session_description5 %>
</p>

<p>
  <b>Session description6:</b>
  <%= @directorform.session_description6 %>
</p>

</div>


<%= link_to 'Edit', edit_directorform_path(@directorform) %> |
<%= link_to 'Back', directorforms_path %>
