%p Dear #{@user.first_name}:

%p #{@invitee.first_name} #{@invitee.last_name} has invited you to join the group named #{@group_name} on KidNimble.

%p At KidNimble, we help parents discover, plan and coordinate activities for their kids.

%p Please click the following link to accept this invitation. #{link_to @link, @link}

%p If you have questions, please feel free to e-mail me at john@kidnimble.com.

%p Thanks for letting us help with your activity planning!

%p John Maggio

