<div class="row">
	<div class="seven columns title">
		<p>
			<a href="#/<%= id %>/show"><b><%= title %>:</b></a>
			<% if(description != null){ %>
				<%= description.slice(0,200)+'...' %>
			<% } %>
			<br>
			<a href="#/<%= id %>/show">MORE</a>
			<a class="listReview" href="#" onClick='openPopup("/reviews/new.html?camp_id=<%= id %>");' id="write_review">REVIEW</a>
		</p>
	</div>
	<div class="three columns rating">
		<ul>
			<% for(i=1;i<=(rating/raters);i++){%>
				<li><img src="/assets/template/star.png" alt="star" title="" /></li>
			<% }%>
		</ul>
	</div>
	<div class="two columns distance">
		<h4>
		<% if(distance != null && !isNaN(distance)){ %>
			<%= parseInt(distance) %>
		<% }else{ %>
			<%= 0 %>
		<%} %>
		 miles</h4>
	</div>
</div>
