<td><%= buyable_id %></td>
<td><%= buyable_type %></td>
<td><%= user_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>